:root{
  --color1:#7CA6BC;
  --color2:#DED5A5;
  --color3:#CE995F;
  --border_radius:10px
}

body, html {
    background-color: none;
    padding: 0px;
    border: 0px;
    margin: 0px;

}

.parallax {
  /* The image used */
  background-image: url("images/banner.jpg");

  /* Full height */
  height: 300%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#resume {
  background-color: #E8E8E8;
  padding: 0.5em;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
}
h2 {
  border-bottom: 2px solid black;
}

h1, h4, h5, p{
  padding-bottom: 0px;
  margin:1px;
}

table {
  width: 100%;
}

.right_col {
  text-align: right;
}
.menu {
  text-align: center;
}
.menu ul {
  display: inline-block;
  list-style-type: none;
  overflow: hidden;
  padding-left: 0px;
}

.menu li {
  float: left;
  padding: 1em;
  border-radius: 25px;
  margin:0.25em;
}

#data_click {
  background-color: var(--color1);
}

/* .data_nc {} */

.data_c {
  background-color: var(--color1);
  border-radius: var(--border_radius);
}

#product_click {
  background-color: var(--color2);
}

.product_c {
  background-color: var(--color2);
  border-radius: var(--border_radius);
}

#research_click {
  background-color: var(--color3);
}

.research_c {
  background-color: var(--color3);
  border-radius: var(--border_radius);
}
