---
export interface Props {
  post: {
    Content: any;
    headings: any;
    frontmatter: Record<string, any>;
  };
}

const { post } = Astro.props;
console.log('Rendered post:', post);
---

<html>
  <head>
    <title>{post.frontmatter?.title ?? 'No title'}</title>
  </head>
  <body>
    <article class="post-body">
      <h1>{post.frontmatter?.title}</h1>
      <p><strong>{post.frontmatter?.pubDate}</strong></p>

      <post.Content />
    </article>
  </body>
</html>

